<h2>Raychem</h2>
<mat-divider class="divider"></mat-divider>
<div class="container">
  <mat-card class="mt-2 item" style="width: 315px;">

    <mat-card-header>
      <mat-card-title routerLink="./t2blue" routerLinkActive="active"
        (click)="setTitle('Нагревательный кабель Raychem T2Blue')">
        Греющий кабель Raychem T2Blue
      </mat-card-title>
    </mat-card-header>

    <img routerLink="./t2blue" routerLinkActive="active" (click)="setTitle('Нагревательный кабель Raychem T2Blue')"
      class="image" src="../../../../assets/images/raychem/10678-medium.png" alt="Нагревательный кабель Raychem T2Blue">

    <mat-card-content>
      <p>
        Греющий кабель Raychem T2Blue представляет собой изготовленную...
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="mt-2 item" style="width: 315px;">

    <mat-card-title routerLink="./t2quicknet" routerLinkActive="active"
      (click)="setTitle('Нагревательный кабель Raychem 160 T2QUICKNET')">
      Raychem 160 T2QUICKNET
    </mat-card-title>
    <img routerLink="./t2quicknet" routerLinkActive="active"
      (click)="setTitle('Нагревательный кабель Raychem 160 T2QUICKNET')" class="image"
      src="../../../../assets/images/raychem/TYOPLYE_POLY_RAYCHEM_T2QUICKNET.jpg"
      alt="Нагревательный кабель Raychem 160 T2QUICKNET">
    <mat-card-content>
      <p>
        Основное достоинство – это легкость монтажа: кабель смонтирован на сетке с самоклеящимся основанием, а применять
        их лучше для просто...
      </p>
    </mat-card-content>
  </mat-card>

</div>
<article>
  <p>Спросите большинство людей, почему они решили установить теплые полы? И они ответят, потому что это
    энергоэффективная, безопасная и надежная система отопления. Системы
    обогрева пола нагревают помещение с помощью систем труб или проводов, которые
    проходят под поверхностью пола, чтобы мягко выделять тепло вверх в помещение. Системы
    теплого пола бывают нескольких видов, но одним из самых популярных является электрический теплый пол под плитку, в
    котором нагревательные маты или нагревательная пленка отдельных проводов
    проходят под поверхностью пола, создавая тепло. Теплый пол под плитку также может быть хорошим выбором в
    больших и высоких помещениях, поскольку тепло исходит на уровне пола, где
    отопление наиболее необходимо.</p>

  <p>Если вы
    хотите купить теплый пол под плитку, то обязательно прочтите следующие преимущества
    теплых полов, которые подтвердят правильность вашего выбора:

    <ul>
      <li>Системы
        электрического отопления могут сохранять тепло в течение длительного времени,
        даже после выключения питания.</li>
      <li>Эти
        системы идеально подходят для использования под естественно прохладными
        поверхностями, такими как керамическая и каменная плитка или на бетонных
        плитах.</li>
      <li>Электрические
        системы теплых полов легко устанавливаются.</li>
      <li>Как
        правило теплые полы более экономичны, чем другие средства дополнительного
        электрического отопления, такие как обогреватели.</li>
    </ul>
</article>
