// .first img:hover {
  //   cursor: default;
  //   opacity: 1;
  // }

mat-grid-tile:hover {
  background-color: #000;
}

img:hover {
  background-color: #000;
  opacity: 0.8;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}
