<div class="content clearfix">
  <h1>Как выбрать подходящую систему "Теплый пол"</h1>
  <article>
    <p>
      1. Для начла необходимо проверить бетонное основание в помещении на
      деффекты и неровности (бугры, ямы, трещины и сейсмошвы). Самый правильный
      вариант для выявления бугров и ям - использовать лазерный уровень.
    </p>
    <p>
      <i>
        В случае, если бетонное основание неровное - необходимо выровнять его
        сделав '0' по плоскости.</i>
    </p>
    <!-- http://crystalui.org/components/pinch-zoom -->
    <img src="../../../assets/images/instructions-page/выравниваем стяжку.jpg" alt="ровная стяжка для теплого пола" />
    <p>
      2. Далее определяем для себя, какое конечное покрытие будет использоваться
      в помещении, для которого предназначается система теплый пол:
    </p>
    <p>
      2.1 Если планируется, что для конечного покрытия будет использоваться
      плитка или керамогранит, обязательно прогрунтуйте бетонное основание перед
      укладкой теплого пола.
    </p>
    <p>
      Под плитку или керамические изделия используются кабельные системы тёплого
      пола, такие как Маты или Кабель на крепёж на ленте.
    </p>
    <img src="../../../assets/images/instructions-page/системы-теплого-пола-под-плитку.jpg"
      alt="системы-теплого-пола-под-плитку" />
    <p>
      2.2 Если же конечное покрытие будет ламинат, паркетная доска, линолеум либо ковролин, то грунтовать бетонные
      основания не обязательно, но желательно.
    </p>
    <p>
      <i> В этом случае лучше всего вам подойдёт пленочный инфракрасный пол</i>
    </p>
    <img src="../../../assets/images/film/warmehaus_thermofilm_1m.jpg" alt="пленочный теплый пол">

    <br>
    <hr>
    <h5>А теперь более детально рассмотрим системы теплого пола Wärmehaus:</h5>
    <mat-tab-group>
      <mat-tab label="Системы Тёплого Пола - Мат">
        <p>
          Подходят как для керамической плитки так и для керамогранита.
        </p>
        <p>
          Система Тёплого Пола Мат <b>мощностью 160</b> Вт на м/кв позволяет быстро и без лишних затрат в электричестве
          разогреть теплый пол и создать комфортную температуру.
        </p>
        <p>
          Система теплого пола Мат <b>мощностью 200</b> Вт на м/кв хорошо подойдет для ванных комнат, санузлов и
          балконных групп, т.к эти помещения не имеют основного отопления.
        </p>
        <blockquote>
          <b>ВАЖНО!</b> Систему теплого пола Мат нельзя укладывать под ламинат, т.к это может привести к деформации
          конечного покрытия.
        </blockquote>
        <p><b>С чего же начать укладку системы тёплого пола Мат:</b></p>
        <p>
          1. Определить место, где будет расположена стационарная мебель и отступить от нее 5 - 10 см. Далее от стен,
          возле которых мебель не планируется либо будет располагаться мебель такого плана как стул стол тумбочка на
          ножках, отступаем 15 см.
        </p>
        <pinch-zoom [zoom-button]='true'>
          <img src="../../../assets/images/instructions-page/кухня.jpg" alt="инструкция теплый пол норматив">
        </pinch-zoom>
        <p>
          Площадь, которая у нас осталась и является той площадью, которую нам нужно покрывать "теплым полом"
        </p>
        <pinch-zoom [zoom-button]='true'>
          <img src="../../../assets/images/instructions-page/схема укладки.jpg"
            alt="инструкция теплый пол схема укладки">
        </pinch-zoom>
        <br>
        <pinch-zoom [zoom-button]='true'>
          <img src="../../../assets/images/instructions-page/схема укладки 2.png"
            alt="инструкция теплый пол схема укладки">
        </pinch-zoom>
        <br>
        <p>
          2. Когда мы нашли квадратуру, которая необходима для укладки, далее нужно определиться, где будет расположен
          регулятор тёплого пола. (Рекомендуемая высота установки регулятора - 90 см для удобства его
          включения-выключения и программирования).
        </p>
        <pinch-zoom [zoom-button]='true'>
          <img src="../../../assets/images/instructions-page/место для утановки регулятора 2.png"
            alt="инструкция место для утановки регулятора">
        </pinch-zoom>
        <br>
        <p>
          3. Выштрабливаем отверстие в стене для установки монтажной коробки.
        </p>
        <img class="large-img" src="../../../assets/images/instructions-page/место для утановки регулятора.jpg"
          alt="инструкция место для утановки регулятора">
        <br>
        <p>
          После этого делаем штробу в стене и в полу шириной 2 см и глубиной 1.5 - 2 см - для установки гофратрубки, в
          которой будет размещён датчик тёплого пола.
        </p>
        <img class="large-img" src="../../../assets/images/instructions-page/штроба для гофры.jpg"
          alt="инструкция место для утановки регулятора">
        <br>
        <p>
          4. Устанавливаем гофратрубку в штробу и выводим в неё датчик тёплого пола. Также в эту штробу мы устанавливаем
          силовой кабель от тёплого пола.
        </p>
        <img class="large-img" src="../../../assets/images/instructions-page/установка датчика теплого пола.jpg"
          alt="инструкция установка датчика теплого пола">
        <p></p>
        <blockquote>
          <b>ВАЖНО!</b> Нагревательный элемент переходящей муфты силового кабеля установить в полу. Не рекомендуем
          устанавливать муфту в стене - это может привести к выходу ее из строя.
        </blockquote>
        <img class="large-img" src="../../../assets/images/instructions-page/гофра трубка и переходящая муфта.jpg"
          alt="инструкция установка датчика теплого пола">
        <br>
        <p>
          5. Теперь устанавливаем систему тёплого пола Мат с учетом отступов от стен и мебели.
        </p>
        <pinch-zoom class="large-img" [zoom-button]='true'>
          <img src="../../../assets/images/instructions-page/установка системы теплого пола мат.jpg"
            alt="инструкция установка системы теплого пола мат">
        </pinch-zoom>
        <br>
        <pinch-zoom class="large-img" [zoom-button]='true'>
          <img src="../../../assets/images/instructions-page/установка системы теплого пола мат 2.jpg"
            alt="инструкция установка системы теплого пола мат">
        </pinch-zoom>
        <br>

      </mat-tab>
    </mat-tab-group>
  </article>
</div>
