<div class="content clearfix">
  <h1>Как выбрать подходящую систему "Теплый пол"</h1>
  <article>
    <p>
      1. Для начла необходимо проверить бетонное основание в помещении на
      деффекты и неровности (бугры, ямы, трещины и сейсмошвы). Самый правильный
      вариант для выявления бугров и ям - использовать лазерный уровень.
    </p>
    <p>
      <i>
        В случае, если бетонное основание неровное - необходимо выровнять его
        сделав '0' по плоскости.</i>
    </p>
    <!-- http://crystalui.org/components/pinch-zoom -->
    <img src="assets/images/instructions-page/выравниваем стяжку.jpg" alt="ровная стяжка для теплого пола" />
    <p>
      2. Далее определяем для себя, какое конечное покрытие будет использоваться
      в помещении, для которого предназначается система теплый пол:
    </p>
    <p>
      2.1 Если планируется, что для конечного покрытия будет использоваться
      плитка или керамогранит, обязательно прогрунтуйте бетонное основание перед
      укладкой теплого пола.
    </p>
    <p>
      Под плитку или керамические изделия используются кабельные системы тёплого
      пола, такие как Маты или Кабель на крепёж на ленте.
    </p>
    <img src="assets/images/instructions-page/системы-теплого-пола-под-плитку.jpg"
      alt="системы-теплого-пола-под-плитку" />
    <p>
      2.2 Если же конечное покрытие будет ламинат, паркетная доска, линолеум либо ковролин, то грунтовать бетонные
      основания не обязательно, но желательно.
    </p>
    <p>
      <i> В этом случае лучше всего вам подойдёт пленочный инфракрасный пол</i>
    </p>
    <img id="tabMenu" src="assets/images/film/warmehaus_thermofilm_1m.jpg" alt="пленочный теплый пол">

    <br>
    <hr>
    <h5>А теперь более детально рассмотрим системы теплого пола Wärmehaus:</h5>
    <mat-tab-group>
      <mat-tab label="Системы Тёплого Пола - Мат">
        <p>
          Подходят как для керамической плитки так и для керамогранита.
        </p>
        <p>
          Система Тёплого Пола Мат <b>мощностью 160</b> Вт на м/кв позволяет быстро и без лишних затрат в электричестве
          разогреть теплый пол и создать комфортную температуру.
        </p>
        <p>
          Система теплого пола Мат <b>мощностью 200</b> Вт на м/кв хорошо подойдет для ванных комнат, санузлов и
          балконных групп, т.к эти помещения не имеют основного отопления.
        </p>
        <blockquote>
          <b>ВАЖНО!</b> Систему теплого пола Мат нельзя укладывать под ламинат, т.к это может привести к деформации
          конечного покрытия.
        </blockquote>
        <p><b>С чего же начать укладку системы тёплого пола Мат:</b></p>
        <p>
          1. Определить место, где будет расположена стационарная мебель и отступить от нее 5 - 10 см. Далее от стен,
          возле которых мебель не планируется либо будет располагаться мебель такого плана как стул стол тумбочка на
          ножках, отступаем 15 см.
        </p>
        <pinch-zoom [zoom-button]='true'>
          <img src="assets/images/instructions-page/кухня.jpg" alt="инструкция теплый пол норматив">
        </pinch-zoom>
        <p>
          Площадь, которая у нас осталась и является той площадью, которую нам нужно покрывать "теплым полом"
        </p>
        <pinch-zoom [zoom-button]='true'>
          <img src="assets/images/instructions-page/схема укладки.jpg"
            alt="инструкция теплый пол схема укладки">
        </pinch-zoom>
        <br>
        <pinch-zoom [zoom-button]='true'>
          <img src="assets/images/instructions-page/схема укладки 2.png"
            alt="инструкция теплый пол схема укладки">
        </pinch-zoom>
        <br>
        <p>
          2. Когда мы нашли квадратуру, которая необходима для укладки, далее нужно определиться, где будет расположен
          регулятор тёплого пола. (Рекомендуемая высота установки регулятора - 90 см для удобства его
          включения-выключения и программирования).
        </p>
        <pinch-zoom [zoom-button]='true'>
          <img src="assets/images/instructions-page/место для утановки регулятора 2.png"
            alt="инструкция место для утановки регулятора">
        </pinch-zoom>
        <br>
        <p>
          3. Выштрабливаем отверстие в стене для установки монтажной коробки.
        </p>
        <img class="large-img" src="assets/images/instructions-page/место для утановки регулятора.jpg"
          alt="инструкция место для утановки регулятора">
        <br>
        <p>
          После этого делаем штробу в стене и в полу шириной 2 см и глубиной 1.5 - 2 см - для установки гофратрубки, в
          которой будет размещён датчик тёплого пола.
        </p>
        <img class="large-img" src="assets/images/instructions-page/штроба для гофры.jpg"
          alt="инструкция место для утановки регулятора">
        <br>
        <p>
          4. Устанавливаем гофратрубку в штробу и выводим в неё датчик тёплого пола. Также в эту штробу мы устанавливаем
          силовой кабель от тёплого пола.
        </p>
        <img class="large-img" src="assets/images/instructions-page/установка датчика теплого пола.jpg"
          alt="инструкция установка датчика теплого пола">
        <p></p>
        <blockquote>
          <b>ВАЖНО!</b> Нагревательный элемент переходящей муфты силового кабеля установить в полу. Не рекомендуем
          устанавливать муфту в стене - это может привести к выходу ее из строя.
        </blockquote>
        <img class="large-img" src="assets/images/instructions-page/гофра трубка и переходящая муфта.jpg"
          alt="инструкция установка датчика теплого пола">
        <br>
        <p>
          5. Теперь устанавливаем систему тёплого пола Мат с учетом отступов от стен и мебели.
        </p>
        <pinch-zoom class="large-img" [zoom-button]='true'>
          <img src="assets/images/instructions-page/установка системы теплого пола мат.jpg"
            alt="инструкция установка системы теплого пола мат">
        </pinch-zoom>
        <br>
        <pinch-zoom class="large-img" [zoom-button]='true'>
          <img src="assets/images/instructions-page/установка системы теплого пола мат 2.jpg"
            alt="инструкция установка системы теплого пола мат">
        </pinch-zoom>
        <br>
        <pinch-zoom class="large-img" [zoom-button]='true'>
          <img src="assets/images/instructions-page/установка системы теплого пола мат 3.jpg"
            alt="инструкция установка системы теплого пола мат">
        </pinch-zoom>
        <br>
        <pinch-zoom class="large-img" [zoom-button]='true'>
          <img src="assets/images/instructions-page/установка системы теплого пола мат 4.jpg"
            alt="инструкция установка системы теплого пола мат">
        </pinch-zoom>
        <br>
        <p>
          6. Плиточный клей желательно наносить равномерно, чтобы возле греющего кабеля не появились воздушные пустоты,
          т.к. в дальнейшем это может привести к недееспособности системы и <b>не является гарантийным случаем</b>.
        </p>
        <p>
          7. Укладываем плитку.
        </p>
        <p>
          8. После укладки плитки обязательно проверьте сопротивление системы тёплого пола чтобы убедиться, что в момент
          укладки система была не повреждена. У систем теплого пола разных квадратур, сопративление будет отличаться.
        </p>
      </mat-tab>
      <mat-tab label="Пленочная система теплых полов">
        <em>Пленочные системы тёплых полов в основном используются как комфортный подогрев для ног под ламинатом,
          линолеум, ковролином и паркетной доской.</em>
        <p></p>
        <blockquote><b>Не рекомендуется</b> укладывать плёночные тёплые полы под плитку и во влажном помещении, т.к они
          боятся влаги.</blockquote>
        <p><b>Последовательность укладки таких систем выглядит следующим образом:</b></p>
        <p>
          1. На ровную поверхность укладывается подложка и отражающий фольгированный элемент, фольгой наверх.
        </p>
        <pinch-zoom [zoom-button]='true'>
          <img src="assets/images/instructions-page/укладка подложки.jpg" alt="инструкция укладка подложки">
        </pinch-zoom>
        <br>
        <pinch-zoom [zoom-button]='true'>
          <img src="assets/images/instructions-page/укладка отражающего элемента.jpg"
            alt="инструкция укладка подложки">
        </pinch-zoom>
        <br>
        <p>
          2. В фольге вырезаем небольшую борозду для укладки датчика тёплого пола.
        </p>
        <p>3. Поверх фольгированного элемента укладывается пленочный тёплый пол.</p>
        <pinch-zoom [zoom-button]='true'>
          <img src="assets/images/instructions-page/укладка пленочных систем теплого пола.jpg"
            alt="инструкция укладка пленочных систем теплого пола">
        </pinch-zoom>
        <br>
        <p>4. Люверсы (крепёж соединяющий плёночные элементы ) крепим на нагревательный элемент и зажимаем в них кабель.
        </p>
        <pinch-zoom [zoom-button]='true'>
          <img src="assets/images/instructions-page/крепеж лювесов и проводов.jpg"
            alt="инструкция крепеж лювесов и проводов теплого пола">
        </pinch-zoom>
        <br>
        <p>5. Далее крепим битумные изоляторы, таким образом, чтобы защитить открытую часть кабеля и люверсы от
          попадания влаги.</p>
        <pinch-zoom [zoom-button]='true'>
          <img src="assets/images/instructions-page/битумный изолятор.jpg"
            alt="инструкция битумный изолятор теплого пола">
        </pinch-zoom>
        <br>
        <p>6. Дополнительно для защиты плёночного пола между нагревательным элементом и конечным покрытием можно
          использовать парниковую или пароизоляционную пленку. </p>
        <p>7. Далее необходимо обязательно проклеить армирующим скотчем по краям. </p>
        <p>8. Теперь укладываем конечное покрытие.</p>
      </mat-tab>
      <mat-tab label="Кабельные системы тёплого пола">
        <em>Кабельная система теплого пола Warmehаus многофункциональна и имеет высокую степень защиты, благодаря чему
          ее можно использовать для комфортного прогрева помещения, антиобледенения крыш и желобных систем, на уличных
          площадках или лестницах. </em>
        <p><b>Если мы рассматриваем систему теплого пола Кабель для комфортного подогрева ног либо отопления помещений,
            то необходимо соблюдать следующие правила установки системы:</b></p>
        <p>1. При укладке шаг между кабелями можно делать от 4 до 15 сантиметров, в зависимости от задач.</p>
        <pinch-zoom [zoom-button]='true'>
          <img src="assets/images/instructions-page/шаг.jpg" alt="инструкция шаг укладки теплый пол кабель">
        </pinch-zoom>
        <br>
        <blockquote><b>ВАЖНО!</b> Только удельная мощность на метр квадратный даст тот эффект, который запрашивается для
          определённой задачи.</blockquote>
        <p>1.1 Для комфортного подогрева плитки достаточно будет 12 см, при этом мы будем иметь мощность 160-170 Вт. на
          м/кв.</p>
        <p>1.2 Для комфортного подогрева в ванных комнатах или балконных группах - шаг укладки кабеля должен быть 10 см.
          В этом случае мы получим мощность 200 Вт. на м/кв.</p>
        <p> 1.3 Для основного отопления помещения оптимально делать шаг 8 см, мощность в этом случае будет 250 Вт на
          м/кв, это позволит отопить помещение не имеющие основного теплового носителя.</p>
        <p>Кабельная система Warmehaus укладывается в слой стяжки от 1 до 3 см и толщиною или в штробу глубиною от 1 до
          3 см.</p>
        <pinch-zoom [zoom-button]='true'>
          <img src="assets/images/instructions-page/штроба для кабеля.jpg"
            alt="инструкция штроба для кабеля теплый пол кабель">
        </pinch-zoom>
        <br>
        <pinch-zoom [zoom-button]='true'>
          <img src="assets/images/instructions-page/кабель в штробе.jpg"
            alt="инструкция штроба для кабеля теплый пол кабель">
        </pinch-zoom>
        <br>
        <pinch-zoom [zoom-button]='true'>
          <img src="assets/images/instructions-page/кабель под стяжку 2.jpg"
            alt="инструкция кабель под стяжку теплый пол кабель">
        </pinch-zoom>
        <br>
        <pinch-zoom [zoom-button]='true'>
          <img src="assets/images/instructions-page/кабель под стяжку.jpg"
            alt="инструкция кабель под стяжку теплый пол кабель">
        </pinch-zoom>
        <br>
        <p>
          Перед тем как начать укладку систем теплого пола кабель, нам нужно рассчитать площадь его укладки.
        </p>
        <p>
          2. Высчитываем площадь, на которой будет стоять мебель и не забываем об отступе от мебели на 5-10 см.
        </p>
        <p>
          3. Отступаем от стен, возле которых мебели не будет 10-15 см - площадь, которая у нас осталась и
          рассматривается под отопление.
        </p>
        <pinch-zoom [zoom-button]='true'>
          <img src="assets/images/instructions-page/балкон.jpg"
            alt="инструкция штроба для кабеля теплый пол кабель">
        </pinch-zoom>
        <br>
      </mat-tab>
    </mat-tab-group>
    <div class="arrow-border">
      <div class="arrow-up">
        <button mat-fab color="warn" (click)="onTabMenu()" aria-hidden="false" aria-label="К меню">
          <mat-icon>arrow_upward</mat-icon>
        </button>
        К меню
      </div>
    </div>
    <h2><em>Тепла Вам и уюта.</em></h2>
  </article>
</div>
