<div class="content clearfix">
  <h1>Как выбрать подходящую систему "Теплый пол"</h1>
  <article>
    <p>
      1. Для начла необходимо проверить бетонное основание в помещении на
      деффекты и неровности (бугры, ямы, трещины и сейсмошвы). Самый правильный
      вариант для выявления бугров и ям - использовать лазерный уровень.
    </p>
    <p>
      <i>
        В случае, если бетонное основание неровное - необходимо выровнять его
        сделав '0' по плоскости.</i>
    </p>
    <!-- http://crystalui.org/components/pinch-zoom -->
    <pinch-zoom [zoom-button]='true'><img src="../../../assets/images/instructions-page/выравниваем стяжку.jpg"
        alt="ровная стяжка для теплого пола" /></pinch-zoom>

    <p>
      2. Далее определяем для себя, какое конечное покрытие будет использоваться
      в помещении, для которого предназначается система теплый пол:
    </p>
    <p>
      2.1 Если планируется, что для конечного покрытия будет использоваться
      плитка или керамогранит, обязательно прогрунтуйте бетонное основание перед
      укладкой теплого пола.
    </p>
    <p>
      Под плитку или керамические изделия используются кабельные системы тёплого
      пола, такие как Маты или Кабель на крепёж на ленте.
    </p>
    <img src="../../../assets/images/instructions-page/системы-теплого-пола-под-плитку.jpg"
      alt="системы-теплого-пола-под-плитку" />
    <p>
      2.2 Если же конечное покрытие будет ламинат, паркетная доска, линолеум либо ковролин, то грунтовать бетонные
      основания не обязательно, но желательно.
    </p>
    <p>
      <i> В этом случае лучше всего вам подойдёт пленочный инфракрасный пол</i>
    </p>
    <img src="../../../assets/images/film/warmehaus_thermofilm_1m.jpg" alt="пленочный теплый пол">

    <br>
    <hr>
    <h5>А теперь более детально рассмотрим системы теплого пола Wärmehaus:</h5>

  </article>
</div>
