<mat-chip-list>

  <mat-chip class="chip" color="primary" selected>
      <a routerLink="/warmehaus/mat-160Watt" routerLinkActive="active" style="color:white">Маты 160Вт</a>
  </mat-chip>

  <mat-chip class="chip" color="accent" selected>
      <a routerLink="/warmehaus/mat-200Watt" routerLinkActive="active" style="color:white">Маты 200Вт</a>
  </mat-chip>

  <mat-chip class="chip" color="warn" selected>
      <a routerLink="/warmehaus/cable-11Watt" routerLinkActive="active" style="color:white">Кабель 11Вт</a>
  </mat-chip>

  <mat-chip class="chip" color="primary" selected>
      <a routerLink="/warmehaus/cable-14Watt" routerLinkActive="active" style="color:white">Кабель 14Вт</a>
  </mat-chip>

  <mat-chip class="chip" color="accent" selected>
      <a routerLink="/warmehaus/cable-20Watt" routerLinkActive="active" style="color:white">Кабель 20Вт</a>
  </mat-chip>
  
  <mat-chip class="chip" color="warn" selected>
      <a routerLink="/warmehaus/termostats" routerLinkActive="active" style="color:white">Терморегуляторы</a>
  </mat-chip>

  <mat-chip class="chip" color="primary" selected>
      <a routerLink="/warmehaus/anti-icing" routerLinkActive="active" style="color:white">Антиобледенение</a>
  </mat-chip>

  <mat-chip class="chip" color="accent" selected>
      <a routerLink="/warmehaus/films" routerLinkActive="active" style="color:white">Плёнка</a>
  </mat-chip>
  
</mat-chip-list>

<router-outlet></router-outlet>