<mat-card class="mat-elevation-z8">
  <mat-card-title>Grand Meyer THM180</mat-card-title>
  <mat-divider></mat-divider>
  <div class="uponTable">
    <img class="upper-image" src="assets/images/arnold-rak/arnold-rak-180w.jpg" alt="Arnold Rak 180 Ватт" align="left"
      hspace="25">
    <div class="container upon">
      <h5 style="margin-top: 10px;">Описание:</h5>
      <p class="clearfix">Нагревательный мат Grand Meyer THM180 – готовое изделие для укладки. Идеальное решение для
        ремонта уже имеющихся полов без подогрева, а также в тех случаях, где есть возможность минимально повысить
        уровень пола. Укладка производится непосредственно в плиточный клей под напольное покрытие.
      </p>
      <p class="clearfix">Тонкий греющий мат с кабелем с качественной тефлоновой высокотемпературной изоляцией- готовое
        изделие для монтажа.
        Мат состоит из двужильного греющего кабеля с алюминиевым экраном, вплетенного на тонкую гибкую стекловолоконную
        сетку на клеевой основе. Каждый мат имеет заводской соединительный провод питания длиной 2,5 м.
      </p>
      <p class="clearfix">Немецкое качество- это надежность и долговечность!</p>
    </div>
  </div>
  <p></p>
  <div class="mat-elevation-z8 table clearfix">
    <table mat-table [dataSource]="dataSource1" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- Progress Column -->

      <ng-container matColumnDef="nominal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> м<sup><small>2</small></sup>/Вт </th>
        <td mat-cell *matCellDef="let row"> {{row.nominal}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Тип </th>
        <td mat-cell *matCellDef="let row">{{row.name}} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Цена (бел.руб.) </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.price}},00 </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 15, 26]"></mat-paginator> -->
    <p class="price-info">Цены носят информационный характер.</p>
  </div>


  <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z8 clearfix">
    <mat-tab class="tab" label="Комплектация">
      <div class="content">
        <div class="vertTab">
          <p>1. Нагревательный мат</p>
          <p>2. Защитная гофрированная трубка для датчика температуры</p>
          <p>3. Инструкция по монтажу</p>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
