<h2>Arnold Rak</h2>
<mat-divider class="divider"></mat-divider>
<div class="container">
  <mat-card class="mt-2 item" style="width: 315px;">

    <mat-card-header>
      <mat-card-title routerLink="./mat-180w" routerLinkActive="active"
        (click)="setTitle('Теплые полы Arnold Rak 180 Ватт')">
        Arnold Rak 180 Watt
      </mat-card-title>
    </mat-card-header>

    <img routerLink="./mat-180w" routerLinkActive="active" (click)="setTitle('Теплые полы Arnold Rak 180 Ватт')"
      class="image" src="../../../../assets/images/arnold-rak/arnold-rak-180w.jpg" alt="Arnold Rak 180 Ватт">

    <mat-card-content>
      <p>
        Двухжильные нагревательные маты серии Standart...
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="mt-2 item" style="width: 315px;">

    <mat-card-title routerLink="./mat-200w" routerLinkActive="active"
      (click)="setTitle('Теплые полы Arnold Rak 200 Ватт')">
      Arnold Rak 200 Watt
    </mat-card-title>
    <img routerLink="./mat-200w" routerLinkActive="active" (click)="setTitle('Теплые полы Arnold Rak 200 Ватт')"
      class="image" src="../../../../assets/images/arnold-rak/arnold-rak-180w.jpg" alt="Arnold Rak 200 Ватт">

    <mat-card-content>
      <p>
        Нагревательный элемент - семижиль...
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="mt-2 item" style="width: 315px;">
    <mat-card-title routerLink="./cab-20w" routerLinkActive="active"
      (click)="setTitle('Кабель для теплого пола ArnoldRak Кабель 20Вт')">
      ArnoldRak Кабель 20Вт
    </mat-card-title>
    <img routerLink="./cab-20w" routerLinkActive="active"
      (click)="setTitle('Кабель для теплого пола ArnoldRak Кабель 20Вт')" class="image"
      src="../../../../assets/images/arnold-rak/arnold_rak_cab-200w.jpg" alt="ArnoldRak Кабель 20Вт">
    <mat-card-content>
      <p>
        Двужильный экранированный кабель, толщиной...
      </p>
    </mat-card-content>
  </mat-card>
</div>
<br />
<article>
  <p>Arnold Rak - высокотехнологичный теплый пол, разработанный и производимый в Германии. На родине многих
    высококачественных технических разработок и проектов. Теплый пол Arnold Rak не стал исключение.
  </p>
  <p>Теплый пол - это альтернативное решение для тех, кто хочет наполнить свой дом теплом и уютом. Эта современная
    система имеет рациональное распределение тепла. За счет этого снижается средняя температура помещения и достигается
    существенная экономия электроэнергии. А возможность гибкой настройки, позволяет порционно и точечно подавать тепло.
    Электрический пол безусловна обладает массой плюсов, однако к выбору оборудования необходимо подходить обдумано и
    взвешено. Сам теплый пол должен обладать достаточным запасом надежности и быть безопасным для пользователя. По
    этому, мы хотим представить для Вас, как раз такой вариант.
  </p>
</article>
