<!-- <head>
  <title>Контакты | Грузовое такси ООО «Перевозчик»</title>
  <meta content='номер грузового такси, телефон грузовой газели, контакты грузоперевозки, схема проезда Перевозчик, адрес Перевозчика' name='keywords'/>
  <meta content='Контакты: ☎ 00‒00‒00 Адрес: Москва, ул. Гагарина, д. 00 Время работы: пн-чт 08:00-17:00 пт 08:00-16:00' name='description'/>
  <link href='http://site.ru/contacts.html' rel='canonical'/>
  <link href='/movingcompany.ico' rel='icon' type='image/x-icon'/>
</head> -->

    <h1>Контакты</h1>
    <!-- <img itemprop="logo" src="https://warmehaus.com.by/assets/images/logo2.png" />
    <a itemprop="url" href="https://warmehaus.com.by/"><span itemprop="name">ООО «Вармхаус»</span></a>
    <h2>,Теплые полы №1 в Беларуси</h2> -->

  <p>Спасибо за Ваш интерес!</p>
  <p itemprop="telephone">Velcom: +375 (29) 352-32-04
  <p itemprop="faxNumber">МТС: +375 (29) 557-59-80
  <!-- <p>Email: <a href="mailto:support@site.ru" target="_blank" itemprop="email">support@site.ru</a> Ответ на письма приходит в течении 15 минут -->
  <!-- <p>Время работы: 
    <time itemprop="openingHours" datetime="Mo-Th 8:00-17:00">пн-чт 08:00-17:00, перерыв 12:00-12:48</time>
    <time itemprop="openingHours" datetime="Fr 8:00-16:00">пт 08:00-16:00, перерыв 12:00-12:48</time>
  <p>Форма контактов.
  <p>Банковские реквизиты
  <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">Адрес: <span itemprop="postalCode">000000</span>, Россия, <span itemprop="addressLocality">Москва</span>, <span itemprop="streetAddress">улица Гагарина, дом 00</span></p>
  <a href="http://maps.yandex.ru/" target="_blank">Схема проезда на Яндекс/Google Картах</a> -->
