<app-chips></app-chips>
<h2>Обогрев труб WÄRMEHAUS AntiFreeze Guard 20W, 30W, 40W</h2>
<mat-divider class="divider"></mat-divider>

<div class="container">
  <mat-card class="mt-2 item" style="width: 315px;">

    <mat-card-header>
      <mat-card-title routerLink="./pipe-cooling" routerLinkActive="active"
        (click)="setTitle('Системы антиоблединения Обогрев Труб')">
        Системы обогрева труб
      </mat-card-title>
    </mat-card-header>

    <img routerLink="./pipe-cooling" routerLinkActive="active"
      (click)="setTitle('Системы антиоблединения Обогрев Труб')" class="image"
      src="assets/images/anti-icing/pipes-warming.jpg" alt="Системы антиоблединения Обогрев Труб">

    <mat-card-content>
      <p>
        Обогревательные системы для труб на основе двужильного кабеля.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="mt-2 item" style="width: 315px;">

    <mat-card-header>
      <mat-card-title routerLink="./systems-and-gutter-cooling" routerLinkActive="active"
        (click)="setTitle('Системы управления и подогрев желобов')">
        Системы управления и подогрев желобов
      </mat-card-title>
    </mat-card-header>

    <img routerLink="./systems-and-gutter-cooling" routerLinkActive="active"
      (click)="setTitle('Системы управления и подогрев желобов')" class="image"
      src="assets/images/anti-icing/outdoor-termostats/WÄRMEHAUS ETR2/WARMEHAUS_ETR2.jpg"
      alt="Системы управления и подогрев желобов">

    <mat-card-content>
      <p>
        Системы управления обогревом труб, кровель (системы антиоблединения). Кабель для подогрева желобов (кровельных
        водостоков).
      </p>
    </mat-card-content>
  </mat-card>
</div>

<div class=" clearfix">
  <div class="container upon">
    <img src="assets/images/anti-icing/roof-wire.jpg" alt="Обогрев крыши">
    <ul>
      <li>
        Готовые к использованию комплекты<strong>
          WÄRMEHAUS<sup>®</sup> AntiFreeze Guard, </strong>применяются для поддержания в незамерзающем состоянии
        трубопроводов,
        предупреждения образования сосулек и наледи в желобах на кровлях,
        образования ледяных пробок в канализационных системах- на дачах, в
        банях и в загородных домах.
      </li>
      <li>
        Принцип саморегуляции
        <strong>WÄRMEHAUS<sup>®</sup> AntiFreeze Guard </strong>достигается
        благодаря специальной высоко технологичной матрице - выделение тепла
        происходит только там, где это необходимо.
      </li>
      <li>
        Саморегулируемый греющий кабель автоматически меняет мощность и
        выделение тепла на разных участках в зависимости от температуры.
      </li>
      <li>
        При падении температуры окружающей среды происходит увеличение
        мощности обогрева, а в случае повышения температуры, эффект
        противоположный - мощность уменьшается.
      </li>
    </ul>
  </div>
  <br />

  <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z8">
    <mat-tab class="tab" label="Описание AntiFreeze Guard 20W">
      <div class="content">
        <div class="vertTab">
          <ul>
            <p>
              Саморегулируемый греющий кабель<strong>&nbsp;WÄRMEHAUS<sup>®</sup> AntiFreeze Guard 20W</strong>
              (тип WÄRMEHAUS<sup>®</sup> SELFREG ELSR-N-20-2-AO) - это ленточный
              электрический нагреватель с параллельными проводниками.
            </p>
            <p>
              Материал греющей матрицы расположен вокруг двух медных проводников
              сечением 2х1,23мм2 с покрытием из олова.
            </p>
            <p>
              Проводящий материал сердцевины увеличивает или уменьшает выработку
              тепла при изменении температуры.
              <strong>Линейная мощность 20Вт/м при 10С.</strong>
            </p>
          </ul>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Описание AntiFreeze Guard 30W">
      <div class="content">
        <ul>
          <p>
            Саморегулируемый греющий кабель<strong>&nbsp;WÄRMEHAUS<sup>®</sup> AntiFreeze Guard 30W</strong>
            (тип WÄRMEHAUS<sup>®</sup> SELFREG ELSR-N-30-2-AO) - это ленточный
            электрический нагреватель с параллельными проводниками.
          </p>
          <p>
            Материал греющей матрицы расположен вокруг двух медных проводников
            сечением 2х1,23мм2 с покрытием из олова.
          </p>
          <p>
            Проводящий материал сердцевины увеличивает или уменьшает выработку
            тепла при изменении температуры.
            <strong>Линейная мощность 30Вт/м при 10С.</strong>
          </p>
        </ul>
      </div>
    </mat-tab>
    <mat-tab label="Описание AntiFreeze Guard 40W">
      <div class="content">
        <ul>
          <p>
            Саморегулируемый греющий кабель<strong>&nbsp;WÄRMEHAUS<sup>®</sup> AntiFreeze Guard 40W</strong>
            (тип WÄRMEHAUS<sup>®</sup> SELFREG ELSR-N-40-2-AO) - это ленточный
            электрический нагреватель с параллельными проводниками.
          </p>
          <p>
            Материал греющей матрицы расположен вокруг двух медных проводников
            сечением 2х1,23мм2 с покрытием из олова.
          </p>
          <p>
            Проводящий материал сердцевины увеличивает или уменьшает выработку
            тепла при изменении температуры.
            <strong>Линейная мощность 40Вт/м при 10С.</strong>
          </p>
        </ul>
      </div>
    </mat-tab>
  </mat-tab-group>

  <!-- <div class="container video">
    <p>Инструкция по пользованию таблицей терморегуляторов Wärmehaus</p>
    <img src="assets/videos/termostat/Instruction.webp"
      alt="Инструкция по пользованию таблицей терморегуляторов Warmehaus" /> -->
</div>