<app-chips></app-chips>

<mat-card class="mat-elevation-z8">
  <mat-card-title>Нагревательный мат 160 Вт.</mat-card-title>

  <mat-divider></mat-divider>
  <div class="uponTable">
    <img class="upper-image" src="assets/images/it2.jpg" alt="Кабель плёнка 160 Ватт на кухню" align="left" hspace="25">
    <div class="container upon">
      <ul>
        <li>
          Тонкий двужильный нагревательный мат на сетке, с шагом кабеля 7см и диаметром 3мм с двойной изоляцией и
          холодным
          соединительным проводом длиной 3.5м.
        </li>
        <li>
          В комплект поставки входит - упаковка, инструкция по установке и эксплуатации - включительно на русском
          языке,
          гарантийный талон, гофротрубка для установки термодатчика длинной 2м, пластиковая заглушка для гофротрубки,
          подрозетник для установки терморегулятора.
        </li>
      </ul>
    </div>
  </div>

  <div class="filter">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Фильтр">
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8 table">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- Progress Column -->

      <ng-container matColumnDef="nominal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> м<sup><small>2</small></sup>/Вт </th>
        <td mat-cell *matCellDef="let row"> {{row.nominal}} </td>
      </ng-container>


      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Тип </th>
        <td mat-cell *matCellDef="let row">{{row.name}} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Цена (бел.руб.) </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.price}},00 </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
    <p class="price-info">Цены носят информационный характер.</p>
  </div>

  <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z8">
    <mat-tab class="tab" label="Описание">
      <div class="content">
        <div class="vertTab"></div>
        <p>
          Мат изготовлен на основе резистивного нагревательного кабеля.
          WÄRMEHAUS® MAT 160W/m2 - тонкий двужильный нагревательный мат на сетке, с шагом кабеля 7см и диаметром 3мм.
          Армированный, экранированный, двужильный нагревательный кабель на сетке с двойной изоляцией, с холодным
          проводом
          длиной 3,5м, с герметичными армированной переходной и концевой муфтами.
        </p>
        <p>
          Укладывается в слой клея или тонкий слой самовыравнивающегося раствора непосредственно под финишное покрытие
          пола.
          В основе работы резистивного нагревательного кабеля лежит свойство проводника с повышенным сопротивлением
          выделять
          тепло. Количество выделяемого тепла зависит от сопротивления. В конструкции кабеля применена прогрессивная
          технология
          с двумя нагревательными жилами, т.е. без возвратного токопроводящего проводника. Что способствует
          равномерному
          прогреву кабеля, позволяет уменьшить диаметр кабеля на мате до 3мм и увеличить срок службы системы.
          Нагревательным
          элементом служат сами токопроводящие жилы, изготовленные из металлического сплава и покрытые стойкой к
          высоким
          температурам изоляцией.
        </p>
        <p>
          Важнейшим фактором, влияющим на качество и долговечность нагревательных систем являются характеристики
          нагревательных
          элементов. Производителем нагревательных элементов для WÄRMEHAUS® MAT является VOKA Vogtländisches Kabelwerk
          GmbH
          Германия - предприятие концерна WILMS GRUPPE.
        </p>
        <p>
          Нагревательные маты WÄRMEHAUS® MAT 160W/m2 являются полностью готовыми к использованию нагревательными
          системами.
          Разработаны инженерами WÄRMEHAUSGmbH и производятся в соответствии с европейскими нормами EN 60335-1, EN
          60335-2,
          IEC
          60800, а также в соответствии со стандартом по системам менеджмента качества ISO 9001 и стандартом по
          системам
          экологического менеджмента ISO 14001 на предприятиях концерна WILMS GRUPPE в Германии и Чехии. Секции
          WÄRMEHAUS®
          MAT
          160W/m2 состоят из двужильного нагревательного кабеля закрепленного на стекловолоконной сетке с уникальной
          армированной проходной и оконечной муфтами, оканчивающегося " холодным" концом длинной 3,5м.
        </p>
        <p>
          Линейка нагревательных матов WÄRMEHAUS® MAT 160W/m2 представлена в 15 типоразмерах, имеет ширину 50см и
          различную
          длину в зависимости от необходимой площади обогрева. Мат предназначен для установки без формирования толстой
          цементной стяжки под любое напольное покрытие с удельным тепловым сопротивлением не более 0,15W/m2. Один
          соединительный "холодный" провод упрощает и ускоряет монтаж.
        </p>
        <p>
          Изготавливается как нагревательный мат с двужильным экранированным нагревательным кабелем толщиной 3 мм.
          Кабель
          имеет
          внутреннюю изоляцию из модифицированного полифениленоксида и наружную изоляцию из синтетического полиолефина
          LSZH.
          Кабель закреплен на сетке из стекловолокна и имеет один холодный соединительный провод длиной 3.5 м.
          Герметичные
          армированные переходная и концевая муфты.
        </p>
        <p>
          В комплект поставки входит нагревательный мат, упаковка, инструкция по установке и эксплуатации -
          включительно
          на
          русском языке, гарантийный талон, гофротрубка ø18мм длинной 2м для установки термодатчика , специальная
          заглушка
          для
          гофротрубки, сервисная коробка (подрозетник), для установки терморегулятора.
          WÄRMEHAUS® MAT 160W/m2 - тонкий двужильный нагревательный мат непосредственно под финишное покрытие пола,
          например
          керамическую плитку.
        </p>
        <p>
          Преимуществом данной системы является простота монтажа. Идеально для обогрева стандартных квадратных и
          прямоугольных
          площадей. С помощью WÄRMEHAUS® MAT 160W/m2 возможно решать практически любые задачи по
          комфортному/дополнительному
          обогреву жилых помещений.
          Двужильный (Twin conductor, one cold tail) нагревательный кабель для помещений.
        </p>
      </div>
    </mat-tab>

    <mat-tab label="Строение кабеля">
      <h2>Строение нагревательного кабеля WÄRMEHAUS<sup><small class="h2small">®</small></sup> MAT 160W/m<sup><small
            class="h2small">2</small></sup>:</h2>
      <img src="assets/images/it2_4.jpg" alt="Теплый пол кабель в разрезе" align="left" hspace="10">
      <div class="content">
        <p>
          1. Внешняя оболочка кабеля WÄRMEHAUS® MAT 160W/m2 выполнена из синтетического полиолефина LSZH стойкого к
          высоким,
          до 105˚С, температурам материала изоляции толщиной 0,65мм.
        </p>
        <p>
          2. Электрическую безопасность греющего кабеля обеспечивает два проводника из 7 луженых медных проволок
          сечением
          0,254мм2 каждая.
        </p>
        <p>
          3. Внутренняя изоляция нагревательных жил выполнена из модифицированного полифениленоксида, долговечного и
          стойкого
          к высоким температурам материала изоляции.
        </p>
        <p>
          4. Две нагревательные жилы обеспечивают отсутствие магнитных полей, а в совокупности с разнесенным по двум
          сторонам
          заземляющем проводником позволяют существенно уменьшить диаметр кабеля до 3,0мм.
        </p>
        <p>
          5. Сплошной экран из алюминиевой фольги с PET защитой придает кабелю дополнительную прочность, герметичность,
          равномерно распределяет тепловую энергию по всей длине нагревательного кабеля.
        </p>
        <p>
          Греющий кабель соединен с холодным концом уникальной армированной муфтой, что добавляет и без того надежной
          системе дополнительную прочность.
          Нагревательный кабель WÄRMEHAUS® MAT 160W/m2 абсолютно герметичен, степень защиты - IP 67.
          Нагревательные системы WÄRMEHAUS® MAT 160W/m2 славятся своими качеством, надежностью и безопасностью!
          Качество,
          проверенное временем!
          Продукция сертифицирована в ТС. ЕАС сертификат № TC RU C-DE.АИ30.А.00674
        </p>
      </div>
    </mat-tab>

    <mat-tab label="Рекомендовано">
      <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">

        <mat-card class="mat-elevation-z8 cards">
          <mat-card-title>Гостиная, спальня, кухня</mat-card-title>
          <mat-card-content>
            <img src="assets/images/mats/cable-in-ladder-2.jpg" alt="Теплые полы для спален и гостиных">
            <p class="recomind">Рекомендованная мощность:</p>
            <ul>
              <li>
                Коридор, прихожая 160Вт/м<sup><small>2</small></sup>
              </li>
              <li>
                Кухня, гостиная 160Вт/м<sup><small>2</small></sup>
              </li>
            </ul>
            <p>
              В комнатах с напольным покрытием из плитки температура пола всегда значительно холоднее и ходить там
              босиком
              не доставляет никакого удовольствия, особенно, осенью и зимой. Пол с подогревом легко устраняет этот
              недостаток и привносит в помещение необходимый комфорт и уют.
            </p>
            <p>
              В семьях с детьми вполне типична ситуация, когда ребенок играет, сидя или лежа на полу. Родители не
              всегда
              успевают проконтролировать этот момент и в будущем у малыша могут проявиться опасные заболевания от
              постоянного нахождения на бетонной поверхности, пусть даже застеленной линолеумом или ковровым покрытием.
              Если в квартире установлен теплый пол, маме с папой больше не придется переживать о здоровье своего чада
              и
              опасаться простуд, сквозняков и прочих неприятных моментов.
            </p>
          </mat-card-content>
        </mat-card>

        <mat-card class="mat-elevation-z8 cards">
          <mat-card-title>Ванная, туалет</mat-card-title>
          <mat-card-content>
            <img src="assets/images/mats/cable-in-ladder-7.jpg" alt="Теплые полы для туалета и ванной комнаты">
            <p class="recomind">Рекомендованная мощность:</p>
            <ul>
              <li>
                Ванная комната 160-200Вт/м<sup><small>2</small></sup>
              </li>
              <li>
                Туалет 160-200Вт/м<sup><small>2</small></sup>
              </li>
            </ul>
            <p>
              Теплый пол можно подобрать практически под любой вид популярных сегодня напольных покрытий. Во всех
              офисах и
              торговых точках, специализирующихся на продаже греющего оборудования, менеджеры всегда дадут
              квалифицированную консультацию относительно вопроса, какую систему лучше поставить под ламинат, паркет,
              плитку, ковролин или линолеум.
            </p>
            <p>
              В помещениях с традиционно сырым микроклиматом (ванные комнаты, санузлы, кухни и пр.) очень часто на
              стенах и
              потолке проявляются грибок и плесень, портящие внешний вид и ухудшающие общую атмосферу. Бороться с этими
              неприятными проявлениями практически невозможно, если конечно, не установить в проблемном помещении
              греющую
              напольную систему.
            </p>
          </mat-card-content>
        </mat-card>

        <mat-card class="mat-elevation-z8 cards">
          <mat-card-title>Балкон, лоджия</mat-card-title>
          <mat-card-content>
            <img src="assets/images/mats/cable-in-ladder-8.jpg"
              alt="Теплые полы для утепленных и неутепленных балконов и лоджий">
            <p class="recomind">Рекомендованная мощность:</p>
            <ul>
              <li>
                Утепленый 200Вт/м<sup><small>2</small></sup>
              </li>
              <li>
                Неутепленый 220-250/м<sup><small>2</small></sup>
              </li>
            </ul>
            <p>
              Почти во всех многоквартирных домах на балконах и лоджиях не предусмотрено центральное отопление. В
              результате эти помещения впитывают с улицы излишнюю сырость, таким образом ухудшая микроклимат во
              внутренних
              жилых помещениях. Нейтрализовать этот момент поможет только система теплый пол, полноценно
              функционирующая
              зимой и удобно отключающаяся на летний период времени.
            </p>
            <p>
              В помещениях с традиционно сырым микроклиматом (ванные комнаты, санузлы, кухни и пр.) очень часто на
              стенах и
              потолке проявляются грибок и плесень, портящие внешний вид и ухудшающие общую атмосферу. Бороться с этими
              неприятными проявлениями практически невозможно, если конечно, не установить в проблемном помещении
              греющую
              напольную систему.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>