<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Heroes</title>
</head>
<body>
    <header>
        <div class="container">
           <img src="./assets/logo.png" alt="logo" class="pic" height="70" width="90">
            <nav>
                <ul>
                    <li><a router-link="contact"><strong>Contact</strong></a></li>
                    <li><a href="#"><strong>About</strong></a></li>
                </ul>
            </nav>
        </div>
    </header>
  <app-root></app-root>
  <footer><strong>|| <i class="fas fa-copyright"></i> BAREFACED Bear ||</strong></footer>
</body>
</html>


<!--app.component.html file-->
<router-outlet></router-outlet>