<h2>WÄRMEHAUS</h2>
<mat-divider class="divider"></mat-divider>

<div style="padding: 3vmin;">
  <mat-grid-list [cols]="breakpoint" rowHeight="2:2" gutterSize="10">
    <mat-grid-tile *ngFor="let tile of warmehausTiles; let i=index;" [colspan]="tile.cols" [rowspan]="tile.rows"
      matRipple>
      <a href="#" routerLink={{tile.route}} routerLinkActive="active" (click)="setTitle( tile.alt )">
        <img class="image-tile" src={{tile.picUrl}} alt={{tile.alt}}></a>
    </mat-grid-tile>
  </mat-grid-list>
</div>