<!-- https://mdbootstrap.com/docs/jquery/javascript/google-maps/ -->

<!-- <a class="btn-floating blue accent-1" mat-fab>
  <mat-icon>email</mat-icon>
</a> -->

<!--Section: Contact v.2-->
<section class="section">
  <!--Section heading-->
  <h2 class="section-heading h1 pt-4 mb-5">Контакты</h2>
  <p>Если у Вас на мобильном устройстве установлено приложение "Google карты", то Вы можете проложить маршрут
    до нашего магазина перейдя по ссылке <u><a href="https://maps.google.com/maps?ll=53.954188,27.692507&z=16&t=m&hl=ru&gl=US&mapclient=embed&q=%D1%83%D0%BB.%20%D0%A3%D1%80%D1%83%D1%87%D1%81%D0%BA%D0%B0%D1%8F%2019%20%D0%9C%D0%B8%D0%BD%D1%81%D0%BA" target="_blank" rel="noopener noreferrer">Увеличить карту</a></u> на 
    мобильном устройсве или же перейдя по ссылке <u><a href="https://maps.google.com/maps?ll=53.954188,27.692507&z=16&t=m&hl=ru&gl=US&mapclient=embed&daddr=%D1%83%D0%BB.%20%D0%A3%D1%80%D1%83%D1%87%D1%81%D0%BA%D0%B0%D1%8F%2019%20%D0%9C%D0%B8%D0%BD%D1%81%D0%BA@53.9541884,27.6925072" target="_blank" rel="noopener noreferrer">
    Маршрут</a></u> с компьютера. Если же у вас не установлены "Карты Google" и Вы никогда с ними не сталкивались, то 
    прошу перейти и ознакомиться с подроюными инстукциями
    по <a href="https://support.google.com/maps/answer/6139433?hl=en&ref_topic=3092425" target="_blank" rel="noopener noreferrer"> <b>этой ссылке</b> </a>.</p>
  <div class="card">
    <div class="card-body">
      <!--Google map-->
      <div id="map-container-google-12" class="z-depth-1-half map-container-7">
        <iframe id="preview" allowfullscreen=""
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBfYfOesZqD0Jxou4dG8CnNV4Jb0tccTOM&q=ул.+Уручская+19+Минск"
          allowfullscreen>

        </iframe>
      </div>
      <br />

      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
      <!------ Include the above in your HEAD tag ---------->

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' />

      <div class="container demo-bg">
        <div class="row">
          <div class="col-sm-4">
            <section class="section contactsSection">
              <div class="container blockContainer">
                <div class="column">
                  <div class="field">
                    <div class="address">
                      <h4> Юридический Адрес:</h4>
                      <p>ЧТУП "ММК Альянс"</p>
                      <p>690697424 Р/С 3012000017906</p>
                      <br>
                      <h4>Адрес:</h4>
                      <p>Минск, ул. Уручская 19, павильон №24</p>
                      <br>
                      <h4>Телефоны:</h4>
                      <p> <b>VELCOM:</b> +375 (29) 352-32-04</p>
                      <p> <b>МТС:</b> +375 (29) 557-59-80</p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <div class="col-sm-4 address">
            <section class="section contactsSection">
              <div class="container blockContainer">
                <h4>Вопросы и пожелания по e-mail:</h4>
                <div class="example-ripple-container mat-elevation-z8" matRipple>
                  <button onclick="location.href='mailto:3523204@gmail.com';"> <img
                      src="../../../assets/images/Email-Logo.gif" /></button>
                </div>

                <!-- form goes here -->
                <!-- <form (ngSubmit)="processForm()"> -->
                <!-- name -->

                <!-- <div class="field">
                    <input type="text" name="name" class="input" placeholder="Введите имя" [(ngModel)]="name" required
                      minlength="2" #nameInput="ngModel">
                    <div class="help is-error" *ngIf="nameInput.invalid && nameInput.dirty">
                      Необходимо ввести имя.
                    </div>
                  </div> -->
                <!-- email -->
                <!-- <div class="field">
                    <input type="email" name="email" class="input" placeholder="Введите e-mail" [(ngModel)]="email"
                      required email #emailInput="ngModel">
                    <div class="help is-error" *ngIf="emailInput.invalid && emailInput.dirty">
                      Пожалуйста, пмроверьте правильность ввода почтового адреса.
                    </div>
                  </div> -->
                <!-- message -->
                <!-- <div class="field">
                    <textarea class="textarea" name="message" placeholder="Ваши предложения или вопросы"
                      [(ngModel)]="message" required #messageInput="ngModel"></textarea>
                    <div class="help is-error" *ngIf="emailInput.invalid && emailInput.dirty">
                      Необходимо ввести сообщение.
                    </div>
                  </div>
                  <button type="submit" class="button is-danger is-large">Отправить</button>
                </form> -->

              </div>
            </section>
          </div>
          <div class="col-sm-4">
            <div class="business-hours">
              <h2 class="title">Часы работы</h2>
              <ul class="list-unstyled opening-hours">
                <li>Понедельник <span class="pull-right">Выходной</span></li>
                <li>Вторник <span class="pull-right">9:00-17:00</span></li>
                <li>Среда <span class="pull-right">9:00-17:00</span></li>
                <li>Четверг <span class="pull-right">9:00-17:00</span></li>
                <li>Пятница <span class="pull-right">9:00-17:00</span></li>
                <li>Суббота <span class="pull-right">9:00-17:00</span></li>
                <li>Воскресенье <span class="pull-right">9:00-17:00</span></li>
                <h6>Звонить и писать: <br>
                  <hr> в любой день недели <br>c 9:00 по 21:00</h6>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Section: Contact v.2-->
