<!-- https://mdbootstrap.com/docs/jquery/javascript/google-maps/ -->

<!-- <a class="btn-floating blue accent-1" mat-fab>
  <mat-icon>email</mat-icon>
</a> -->

<!--Section: Contact v.2-->
<section class="section">
  <!--Section heading-->
  <h2 class="section-heading h1 pt-4 mb-5">Контакты</h2>

  <div class="card">
    <div class="card-body">
      <!--Google map-->
      <div id="map-container-google-12" class="z-depth-1-half map-container-7">
        <iframe id="preview" allowfullscreen=""
          src="https://www.google.com/maps/embed/v1/place?q=place_id:EiN2dWxpY2EgVXJ1xI1za2FqYSAxLCBNaW5zaywgQmVsYXJ1cyIwEi4KFAoSCRf_ai06ydtGEbrrsrn1ieikEAEqFAoSCXVwPaI3ydtGEb1eiue6m2mA&key=AIzaSyBfYfOesZqD0Jxou4dG8CnNV4Jb0tccTOM">
        </iframe>
      </div>
      <br />

      <section class="section contactsSection">
        <div class="container">
          <!-- form goes here -->
          <form (ngSubmit)="processForm()">
            <!-- name -->

            <div class="field">
              <input type="text" name="name" class="input" placeholder="Your Name" [(ngModel)]="name" required
                minlength="2" #nameInput="ngModel">
              <div class="help is-error" *ngIf="nameInput.invalid && nameInput.dirty">
                Необходимо ввести имя.
              </div>
            </div>
            <!-- email -->
            <div class="field">
              <input type="email" name="email" class="input" placeholder="Your Email" [(ngModel)]="email" required email
                #emailInput="ngModel">
              <div class="help is-error" *ngIf="emailInput.invalid && emailInput.dirty">
                Пожалуйста, пмроверьте правильность ввода почтового адреса.
              </div>
            </div>
            <!-- message -->
            <div class="field">
              <textarea class="textarea" name="message" placeholder="What's on your mind?" [(ngModel)]="message"
                required #messageInput="ngModel"></textarea>
              <div class="help is-error" *ngIf="emailInput.invalid && emailInput.dirty">
                Необходимо ввести сообщение.
              </div>
            </div>
            <button type="submit" class="button is-danger is-large">Submit</button>
          </form>
        </div>

        <div class="container">
          <div class="column">
            <div class="field">
              <div class="address">
              <h4> Юридический Адрес:</h4> 
              <p>ЧТУП "ММК Альянс"</p>
              <p>690697424 Р/С 3012000017906</p>
              <br>
              <h4>адрес:</h4>
              <p>Минск Логойский тракт д 22 кор 2 оф 415</p> 
            </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
</section>
<!--Section: Contact v.2-->
