<!-- https://mdbootstrap.com/docs/jquery/javascript/google-maps/ -->

<!-- <a class="btn-floating blue accent-1" mat-fab>
  <mat-icon>email</mat-icon>
</a> -->

<!--Section: Contact v.2-->
<section class="section">
  <!--Section heading-->
  <h2 class="section-heading h1 pt-4 mb-5">Контакты</h2>
  <br />
  <div class="card">
    <div class="card-body">
      <script async defer src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

      <link href='https://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' />

      <div class="container demo-bg clearfix">
        <div class="row">
          <div class="col">
            <section class="section contactsSection">

              <div class="address">
                <h4> Юридический Адрес:</h4>
                <p>ЧТУП "ММК Альянс"</p>
                <p>690697424 Р/С 3012000017906</p>
                <br>
                <h4>Адрес:</h4>
                <p>Минск, ул. Уручская 19, павильон №16А</p>
                <br>
                <h4>Телефоны:</h4>

                <p> <b>VELCOM: <a class="phones" href="tel:+375-29-352-32-04">+375 (29) 352-32-04</a></b></p>
                <p> <b>МТС: <a class="phones" href="tel:+375-29-557-59-80">+375 (29) 557-59-80</a></b></p>
              </div>

            </section>
          </div>
          <div class="col address">
            <section class="section contactsSection">
              <a style="text-decoration: underline;" href="mailto:3523204@gmail.com';">
                <h4>Вопросы и пожелания по e-mail:</h4>
              </a>
              <div class="card" onclick="location.href='mailto:3523204@gmail.com';"> <img
                  src="../../../assets/images/email_PNG11.png" alt="Написать в Warmehaus" />
              </div>
            </section>
          </div>
          <div class="col">
            <div class="business-hours">
              <h5>Часы работы</h5>
              <ul class="list-unstyled opening-hours">
                <li>Понедельник <span class="pull-right">9:00-17:00</span></li>
                <li>Вторник <span class="pull-right">9:00-17:00</span></li>
                <li>Среда <span class="pull-right">9:00-17:00</span></li>
                <li>Четверг <span class="pull-right">9:00-17:00</span></li>
                <li>Пятница <span class="pull-right">9:00-17:00</span></li>
                <li>Суббота <span class="pull-right">9:00-17:00</span></li>
                <li>Воскресенье <span class="pull-right">9:00-17:00</span></li>
              </ul>
              <h5>Без выходных!</h5>
              <h6>Звонить и писать: <br>
                <hr> в любой день недели <br>c 9:00 по 21:00</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="maps">
        <br />
        <p>Если у Вас на мобильном устройстве установлено приложение "Google карты", то Вы можете проложить маршрут
          до нашего магазина перейдя по ссылке <u><a
              href="https://maps.google.com/maps?ll=53.954188,27.692507&z=16&t=m&hl=ru&gl=US&mapclient=embed&q=%D1%83%D0%BB.%20%D0%A3%D1%80%D1%83%D1%87%D1%81%D0%BA%D0%B0%D1%8F%2019%20%D0%9C%D0%B8%D0%BD%D1%81%D0%BA"
              target="_blank" rel="noopener noreferrer">Увеличить карту</a></u> на
          мобильном устройсве или же перейдя по ссылке <u><a
              href="https://maps.google.com/maps?ll=53.954188,27.692507&z=16&t=m&hl=ru&gl=US&mapclient=embed&daddr=%D1%83%D0%BB.%20%D0%A3%D1%80%D1%83%D1%87%D1%81%D0%BA%D0%B0%D1%8F%2019%20%D0%9C%D0%B8%D0%BD%D1%81%D0%BA@53.9541884,27.6925072"
              target="_blank" rel="noopener noreferrer">
              Маршрут</a></u> с компьютера. Если же у вас не установлены "Карты Google" и Вы никогда с ними не
          сталкивались,
          то
          прошу перейти и ознакомиться с подробными инстукциями
          по <a href="https://support.google.com/maps/answer/6139433?hl=en&ref_topic=3092425" target="_blank"
            rel="noopener noreferrer"> <b>этой ссылке</b> </a>.</p>
        <br />

        <!--Google map-->
        <div class="iframe-container">
          <iframe title="Как проехать к магазину Warmehaus" id="preview"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d650.2592954710252!2d27.69339808129646!3d53.954926066837565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfc0dd43b85972c33!2sWarmehaus+GmbH!5e1!3m2!1sru!2sby!4v1562495116593!5m2!1sru!2sby"
            allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
  </div>
</section>