.map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

    .mat-fab, .mat-flat-button, .mat-mini-fab, .mat-raised-button {
        color: rgba(0,0,0,.87);
        background-color: #ffcb03;
    }