.wrapper{
    display: flex;
    flex-direction: column;
    height:100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto
}
.content{
    flex: 1 0 auto;
    margin-left: auto;
    margin-right: auto
}
.foot{
    flex: 0 1 auto;
}
