<footer class="footer">

  <div class="container">
    <div class="container outerContainer">
      <h3 class="navigationHeader">Навигация:</h3>
      <div class="innerContainer">
        <div class="headPart">
          <hr>
          <h5>Warmehaus</h5>
          <a href="" routerLink="./home" routerLinkActive="active" title="Теплые полы для дома и квартиры"
            (click)="setTitle('Теплые полы для дома и квартиры')">Теплые полы
            для
            дома и квартиры</a><br>
          <a href="" routerLink="./home/instructions" routerLinkActive="active"
            title="Инструкции и рекомендации по установке теплых полов"
            (click)="setTitle('Инструкции и рекомендации по установке теплых полов')">Инструкции и рекомендации по
            установке теплых полов</a>
          <br>
          <a href="" routerLink="./warmehaus/mat-160Watt" routerLinkActive="active"
            title="Теплые полы Вармхаус Маты под плитку и паркет 160 Ватт | warmehaus.com.by"
            (click)="setTitle('Теплые полы Вармхаус Маты под плитку и паркет 160 Ватт | warmehaus.com.by')">Маты под
            плитку и
            паркет
            160 Ватт</a> <br>
          <a href="" routerLink="./warmehaus/mat-200Watt" routerLinkActive="active"
            title="Теплые полы Вармхаус Маты под плитку и паркет 200 Ватт | warmehaus.com.by"
            (click)="setTitle('Теплые полы Вармхаус Маты под плитку и паркет 200 Ватт | warmehaus.com.by')">Маты под
            плитку и
            паркет
            200 Ватт</a><br>
          <a href="" routerLink="./warmehaus/cable-14Watt" routerLinkActive="active"
            title="Кабель для теплого пола Warmehaus в стяжку 14 Ватт | warmehaus.com.by"
            (click)="setTitle('Кабель для теплого пола Warmehaus в стяжку 14 Ватт | warmehaus.com.by')">Кабель в стяжку
            14
            Ватт</a><br>
          <a href="" routerLink="./warmehaus/cable-20Watt" routerLinkActive="active"
            title="Кабель для теплого пола Warmehaus в стяжку 20 Ватт | warmehaus.com.by"
            (click)="setTitle('Кабель для теплого пола Warmehaus в стяжку 20 Ватт | warmehaus.com.by')">Кабель в стяжку
            20
            Ватт</a><br>
          <a href="" routerLink="./warmehaus/termostats" routerLinkActive="active"
            title="Терморегуляторы для теплого пола | warmehaus.com.by"
            (click)="setTitle('Терморегуляторы для теплого пола | warmehaus.com.by')">Терморегуляторы для теплого
            пола</a><br>
          <a href="" routerLink="./warmehaus/anti-icing" routerLinkActive="active"
            title="Системы антиоблединения крыш | warmehaus.com.by"
            (click)="setTitle('Системы антиоблединения крыш | warmehaus.com.by')">Системы антиоблединения крыш</a><br>
          <a href="" routerLink="./warmehaus/films" routerLinkActive="active"
            title="Теплый пол-плёнка под ламинат и/или паркет | warmehaus.com.by"
            (click)="setTitle('Теплый пол-плёнка под ламинат и/или паркет | warmehaus.com.by')">Теплый пол-плёнка под
            ламинат</a><br>

          <h5 style="margin-top: 10px;" routerLink="./devi" routerLinkActive="active"
            (click)="setTitle('Греющий кабель для теплого пола Raychem | warmehaus.com.by/raychem')">Raychem</h5>
          <a href="" routerLink="./devi/devi-flex-18t" routerLinkActive="active"
            title="Raychem T2Blue | warmehaus.com.by/raychem/t2blue"
            (click)="setTitle('Греющий кабель для теплого пола Греющий кабель Raychem T2Blue| warmehaus.com.by/raychem/t2blue')">Греющий
            кабель Raychem
            T2Blue
          </a><br>
          <a href="" routerLink="./devi/t2quicknet" routerLinkActive="active"
            title="Raychem T2QuickNet | warmehaus.com.by/raychem/t2quicknet"
            (click)="setTitle('Греющий кабель для теплого пола Греющий кабель Raychem T2QuickNet | warmehaus.com.by/raychem/t2quicknet')">Греющий
            кабель Raychem T2QuickNet
          </a><br>

          <h5 style="margin-top: 10px;" routerLink="./arnold-rak" routerLinkActive="active"
            (click)="setTitle('Греющий кабель для теплого пола Arnold Rak | warmehaus.com.by/arnold-rak')">Arnold Rak
          </h5>

          <a href="" routerLink="./devi/devi-flex-18t" routerLinkActive="active"
            title="Arnold Rak 180 Watt | warmehaus.com.by/arnold-rak/mat-180w"
            (click)="setTitle('Греющий мат для теплого пола Arnold Rak 180 Watt| warmehaus.com.by/arnold-rak/mat-180w')">Греющий
            мат Arnold Rak 180 Watt
          </a><br>
          <a href="" routerLink="./arnold-rak/mat-200w" routerLinkActive="active"
            title="Arnold Rak 200 Watt | warmehaus.com.by/arnold-rak/mat-200w"
            (click)="setTitle('Греющий мат для теплого пола Arnold Rak 200 Watt| warmehaus.com.by/arnold-rak/mat-200w')">Греющий
            мат Arnold Rak 200 Watt
          </a><br>
          <a href="" routerLink="./arnold-rak/cab-20w" routerLinkActive="active"
            title="Arnold Rak 20 Watt | warmehaus.com.by/arnold-rak/cab-20w"
            (click)="setTitle('Греющий кабель для теплого пола Arnold Rak 20 Watt| warmehaus.com.by/arnold-rak/cab-20w')">Греющий
            кабель Arnold Rak 20 Watt
          </a><br>
        </div>
        <br>
        <div class="headPart">
          <h5>Контакты</h5>
          <ul>
            <li class="lpage"><a href="" routerLink="./home/contacts" routerLinkActive="active"
                title="Контакты | warmehaus.com.by">Контакты | warmehaus.com.by</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container outerContainer right">
      <div class="innerContainer">

        <div>
          <div class="ul-pics">
            <!-- <h5>Used technologies:</h5>

            <a href="https://angular.io/" target="_blank" rel="noopener noreferrer">
              <img class="technology" alt="Angular7" src="../../../assets/images/5847ea22cef1014c0b5e4833.png"
                height="300px">
            </a>
            <a href="https://developers.google.com/web/progressive-web-apps/" target="_blank" rel="noopener noreferrer">
              <img class="technology" alt="PWA Description"
                src="../../../assets/images/1_U01ubQ9TrE1Zow5pkGHTfw.png"></a>-->
            <div class="ripple-container">
              <h6 class="made-by">Made by:</h6>
              <div class="mat-elevation-z8" matRipple>
                <a href="https://www.linkedin.com/in/alexander-ataakgayev-41266a123?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BfHX6I9OnRlSM%2FonE0Ycw0w%3D%3D"
                  target="_blank" rel="noopener noreferrer">
                  <img class="avatar" alt="LinkedId Aleksandr Ataakgayev" src="../../../assets/images/37648681.jpg">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a href="https://www.instagram.com/warmehaus.com.by/" target="_blank" rel="noopener noreferrer">
    <img class="technology" alt="Instagram" src="../../../assets/images/480px-Instagram_logo_2016.svg.png"
      height="300px">
  </a>

  <div class="content has-text-centered">
    <strong>Copyright © 2021</strong>
    <strong> by</strong>
    <p>Warmehaus GmbH.</p>
  </div>

  <app-schema-markup></app-schema-markup>
</footer>
