<mat-chip-list>

  <mat-chip class="chip" color="primary" selected>
      <a routerLink="/warmehaus/mat-160W" routerLinkActive="active" style="color:white">Маты 160Вт</a>
  </mat-chip>

  <mat-chip class="chip" color="accent" selected>
      <a routerLink="/warmehaus/mat-200W" routerLinkActive="active" style="color:white">Маты 200Вт</a>
  </mat-chip>

  <mat-chip class="chip" color="warn" selected>
      <a routerLink="/warmehaus/cab-11W-thin" routerLinkActive="active" style="color:white">Кабель 11Вт</a>
  </mat-chip>

  <mat-chip class="chip" color="primary" selected>
      <a routerLink="/warmehaus/cab-14W-thin" routerLinkActive="active" style="color:white">Кабель 14Вт</a>
  </mat-chip>

  <mat-chip class="chip" color="accent" selected>
      <a routerLink="/warmehaus/cab-20W-uv-protection" routerLinkActive="active" style="color:white">Кабель 20Вт</a>
  </mat-chip>
  
  <mat-chip class="chip" color="warn" selected>
      <a routerLink="/warmehaus/termostats" routerLinkActive="active" style="color:white">Терморегуляторы</a>
  </mat-chip>

  <mat-chip class="chip" color="primary" selected>
      <a routerLink="/warmehaus/anti-icing" routerLinkActive="active" style="color:white">Антиобледенение</a>
  </mat-chip>

  <mat-chip class="chip" color="accent" selected>
      <a routerLink="/warmehaus/films" routerLinkActive="active" style="color:white">Плёнка</a>
  </mat-chip>
  
</mat-chip-list>

<router-outlet></router-outlet>