<mat-chip-list>

  <mat-chip class="chip" color="primary" selected>
    <a routerLink="/warmehaus/mat-160Watt" routerLinkActive="active" style="color:white"
      (click)="setTitle( 'Нагревательный мат 160 Вт' )">Маты 160Вт</a>
  </mat-chip>

  <mat-chip class="chip" color="accent" selected>
    <a routerLink="/warmehaus/mat-200Watt" routerLinkActive="active" style="color:white"
      (click)="setTitle( 'Нагревательный мат 200 Вт' )">Маты 200Вт</a>
  </mat-chip>

  <!-- <mat-chip class="chip" color="warn" selected>
    <a routerLink="/warmehaus/cable-11Watt" routerLinkActive="active" style="color:white"
      (click)="setTitle( 'Нагревательный Кабель в слой плиточного клея 11Вт' )">Кабель 11Вт</a>
  </mat-chip> -->

  <mat-chip class="chip" color="primary" selected>
    <a routerLink="/warmehaus/cable-17Watt" routerLinkActive="active" style="color:white"
      (click)="setTitle( 'Нагревательный Кабель в слой плиточного клея 17Вт' )">Кабель 17Вт</a>
  </mat-chip>

  <!-- <mat-chip class="chip" color="accent" selected>
    <a routerLink="/warmehaus/cable-20Watt" routerLinkActive="active" style="color:white"
      (click)="setTitle( 'Нагревательный Кабель в слой плиточного клея 20Вт' )">Кабель 20Вт</a>
  </mat-chip> -->

  <mat-chip class="chip" color="warn" selected>
    <a routerLink="/warmehaus/termostats" routerLinkActive="active" style="color:white"
      (click)="setTitle( 'Терморегуляторы' )">Терморегуляторы</a>
  </mat-chip>

  <mat-chip class="chip" color="primary" selected>
    <a routerLink="/warmehaus/anti-icing" routerLinkActive="active" style="color:white"
      (click)="setTitle( 'Антиобледенение' )">Антиобледенение</a>
  </mat-chip>

  <mat-chip class="chip" color="accent" selected>
    <a routerLink="/warmehaus/films" routerLinkActive="active" style="color:white"
      (click)="setTitle( 'Инфракрасная плёнка' )">Плёнка</a>
  </mat-chip>

</mat-chip-list>

<router-outlet></router-outlet>
