<mat-card class="card">
  <mat-grid-list [cols]="breakpoint" rowHeight="2:2" (window:resize)="onResize($event)" gutterSize="10">
    <mat-grid-tile *ngFor="let tile of tiles; let i=index; first as isFirst" [class.first]="isFirst"
      [ngStyle]="{'opacity': tile.disableStyles === true && 1}" [colspan]="tile.cols" [rowspan]="tile.rows" matRipple>
      <a href="#" routerLink={{tile.route}} routerLinkActive="active">
        <img src={{tile.picUrl}} alt={{tile.alt}}></a>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
<mat-card>
  <div class="text">
    <div class="content clearfix">
      <h1>ТЕПЛЫЙ ПОЛ ПОД ПЛИТКУ И ЛАМИНАТ ПО ДОСТУПНОЙ ЦЕНЕ</h1>

      <article>

        <p>Если вы не знаете, где приобрести <strong>теплый пол в Минске</strong>,
          то наш
          магазин поможет вам в этом. Уже более шести лет мы занимается продажей электрических теплых полов
          для любых
          помещений.</p>
        <p>Ассортиментный ряд товаров постоянно меняется и пополняется. Мы стараемся учесть все
          пожелания и
          предпочтения покупателей, предоставив им высококачественную продукцию, которая ответит всем
          требованиям.
          Тщательный отбор товаров - это еще одна возможность приятно удивить клиентов. Высокие стандарты
          качества и
          оптимальные цены на наш пол позволяют каждому покупателю приобрести наш пол в свой офис или дом.
          Ежедневно
          производители радуют новинками, которые незамедлительно появляются на нашем сайте.</p>
        <p>Укладка электрического пола возможна под несколько видов напольных
          покрытий,
          таких как плитка или керамогранит. В обоих случаях поверхность напольного покрытия будет радовать
          теплом даже в
          самое холодное время года. Его поверхность быстро прогревается благодаря использованию специальных
          нагревательных
          матов. Монтировка нагревательного термомата отличается простотой и не займет много времени:
          раскатав термомат
          по
          поверхности пола и подключив его к разъемам в терморегуляторе, вы полностью закончите монтировку
          теплого пола
          под
          плитку или керамогранит.</p>
        <p><em>Теплый пол под ламинат</em> нередко устанавливается под
          паркетную
          доску. Подобному сочетанию отдают свое предпочтение всё больше и больше людей, которые привыкли к
          максимальному
          комфорту. В первом случае для обеспечения дополнительного отопления применяет нагревательная
          пленка, а во
          втором
          нередко применяется основа из дерева. По завершению монтажа, теплый пол готов к эксплуатации .</p>
      </article>
      <mat-divider></mat-divider>

      <h2>Теплый пол в Минске по доступной цене.</h2>
      <article>
        <p>Такая установка прослужит долгие годы, если монтаж был осуществлен
          профессионально, в соответствии со всеми правилами и предписаниями. <em>Теплый пол</em> – это еще
          один
          замечательный способ обеспечить комфортные условия жизни, создать бесценную атмосферу домашнего
          уюта и
          чувствовать ее даже в самые морозные дни. У нас в контактах вы найдете
          телефоны по которым
          можно связаться и проконсультироваться что
          бы
          можно было приобрести <strong>теплый пол под ламинат</strong>.<em>Теплый пол
            электрический отзывы</em>
          о нем вы может прочитать в нашем каталоге.
        </p>
      </article>
    </div>
  </div>
</mat-card>
