@import "../../styles/img-buttons";

@media screen and (min-width: 930px) {

  h1,
  h2 {
    font-size: 14px;
  }
}

@media screen and (min-width: 930px) {
  article {
    max-width: 70%;
    margin: auto;
  }
}

@media screen and (min-width: 1240px) {

  article {
    max-width: 50%;
    margin: auto;
  }
}

h1,
h2 {
  text-align: center;
  font-size: calc(1.7vw + 1.7vh);
}

.card {
  max-width: 1488px;
  margin: auto;
  margin-top: 10px;
}

.example-card {
  max-width: 800px;
}

button{
  background-color: gold;
  padding: 10px 24px;
}
.card-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 800px));
  grid-gap: 24px;
  justify-content: center;
}

@media screen and (max-width: 640px) {
  .mat-card-title{
    font-size: 16px;
  }
  button{
    background-color: gold;
    padding: 4px 8px;
  }
  .card-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 12px;
    justify-content: center;
  }
}

.card-container{
  display: flex;
  flex: 1;
}
article {
  width: 90%;
  margin: auto;
}

.clearfix {
  margin-top: 25px;
  position: -webkit-sticky;
  text-align: justify;
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
  @each $property in $properties {
    #{$property}: $min-value;
  }

  @media screen and (min-width: $min-vw) {
    @each $property in $properties {
      #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});
    }
  }

  @media screen and (min-width: $max-vw) {
    @each $property in $properties {
      #{$property}: $max-value;
    }
  }
}

.clearfix {
  @include fluid-type(font-size, 600px, 1200px, 16px, 24px);
}
