@media (max-width : 1086px),
(orientation: portrait) {
  .navbar-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .navbar-menu {
    margin-left: 40%;
    width: 100%;
    background-color: #dddddd46;
  }

  .navbar-end {
    display: flex;
    justify-content: center;
  }

  .navbar {
    display: inline-flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1024px) {
  .home {
    display: none;
  }
}

.navbar {
  background-color: #ffcb03;
  max-width: 100%;
}

.navbar-menu {
  width: 60%;
}

.navbar-dropdown {
  background-color: #ffcb03;
}

.navbar-item:hover,
.has-dropdown:hover,
.navbar-link:hover {
  background-color: #e2be2b;
}

.navbar-dropdown a.navbar-item:hover {
  background-color: #e2be2b;
  color: #0a0a0a;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: black;
}

a:hover {
  background-color: #e2be2b !important;
}

.navbar-item.has-dropdown:hover .navbar-link {
  background-color: #e2be2b;
  color: black;
}

.is-hoverable:hover {
  background-color: #e2be2b !important;
}

button {
  margin-left: 5px;
  margin-right: 5px;
}

button:focus {
  outline: none;
  border: 0;
}

a:hover {
  color: black;
  text-decoration: none
}

a {
  size: 140
}

.burger {
  display: inline-flex;
  align-items: center;
}

.home {
  width: 2rem;
  height: 2rem;
  margin-right: 4px;
}

.phone-container {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background: #ffcb03;
  box-shadow: 5px 5px 10px #d9ad03, -5px -5px 10px #ffe903;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &:active {
    border-radius: 50px;
    background: #ffcb03;
    box-shadow: inset 5px 5px 10px #d9ad03,
      inset -5px -5px 10px #ffe903;
  }
}

.mat-fab .mat-button-wrapper {
  padding: 0 0 !important;
  display: inline-block;
  line-height: 24px;
}

.navbar-burger span {
  background-color: currentColor;
  display: block;
  height: 3px;
  left: calc(50% - 12px);
  position: absolute;
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
  width: 24px;

  &:nth-child(1) {
    top: calc(50% - 10px);
  }

  &:nth-child(2) {
    top: calc(50% - 2px);
  }

  &:nth-child(3) {
    top: calc(50% + 7px);
  }
}

.navbar-burger.is-active span:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}
