<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="" routerLink="./home" routerLinkActive="active">
      <img src="{{ brand }}" alt="logo" style="max-height: 38px" (click)="setTitle( 'Теплые полы Warmehaus' )" />
    </a>
  </div>

  <div class="burger">
    <a (click)="toggleNavbar()" role="button" #navBurger class="navbar-burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasic">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasic" class="navbar-menu" #navMenu>
    <a class="navbar-item" href="" (click)="setTitle( 'Теплые полы Warmehaus' ); toggleNavbar()" routerLink="./home"
      routerLinkActive="active">
      Главная
    </a>

    <a class="navbar-item" href="#" (click)="setTitle( 'Контакты' ); toggleNavbar()" routerLink="./home/contacts"
      routerLinkActive="active">
      Контакты
    </a>
    <a class="navbar-item" href="#" (click)="setTitle( 'Инструкции' ); toggleNavbar()" routerLink="./home/instructions"
      routerLinkActive="active">
      Инcтрукции
    </a>
    <hr />
    <div class="navbar-end">
      <div class="btn-item">
        <a onclick="location.href='mailto:3523204@gmail.com';">
          <button mat-fab color="warn" (click)="toggleNavbar()"
            aria-label="Написать на электронную почту компании Warmehaus">
            <mat-icon>email</mat-icon>
          </button></a>
      </div>
      <div class="btn-item">
        <button mat-fab color="warn" aria-label="Позвонить в компанию Warmehaus"
          (click)="openBottomSheet(); toggleNavbar()">
          <mat-icon>phone</mat-icon>
        </button>
      </div>
    </div>
  </div>
</nav>