.breadcrumb,
a {
  background: none;
  font-weight: bold;
  text-align: start;
  font-size: 13px;
  align-items: inline-start;
  margin-block-start: 8px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.breadcrumb {
  flex-wrap: wrap;
}

.item,
a {
  margin-top: -1px;
  color: rgb(255, 217, 0);
  margin-left: -14px;
  margin-right: -5px;
}

.item:nth-last-child(1) {
  color: white;
  cursor: default;
}

a:hover {
  color: rgb(180, 153, 2);
}

a:link {
  color: rgb(255, 217, 0);
}

span {
  color: white
}