<h2>Nexans</h2>
<mat-divider class="divider"></mat-divider>
<div class="container">
  <mat-card class="mt-2 item" style="width: 315px;">

    <mat-card-header>
      <mat-card-title routerLink="./millimat" routerLinkActive="active"
        (click)="setTitle('Теплые полы NEXANS N-HEAT MILLIMAT')">
        NEXANS N-HEAT® MILLIMAT™
      </mat-card-title>
    </mat-card-header>

    <img routerLink="./millimat" routerLinkActive="active" (click)="setTitle('Теплые полы NEXANS N-HEAT MILLIMAT')"
      class="image" src="../../../../assets/images/nexans/milmatt.jpg" alt="NEXANS N-HEAT MILLIMAT">

    <mat-card-content>
      <p>
        Нагревательный мат на основе тонкого двужильного кабеля.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="mt-2 item" style="width: 315px;">

    <mat-card-title routerLink="./txlp1" routerLinkActive="active"
      (click)="setTitle('Теплые полы NEXANS NEXANS N-HEAT TXLP/1')">
      NEXANS N-HEAT® TXLP/1
    </mat-card-title>
    <img routerLink="./txlp1" routerLinkActive="active" (click)="setTitle('Теплые полы NEXANS TXLP/1')" class="image"
      src="../../../../assets/images/nexans/NEXANS-TXLP-1.jpg" alt="NEXANS TXLP/1">
    <mat-card-content>
      <p>
        Комплект одножильного нагревательного кабеля для обогрева пола.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="mt-2 item" style="width: 315px;">
    <mat-card-title routerLink="./txlp2r" routerLinkActive="active"
      (click)="setTitle('Теплые полы NEXANS NEXANS N-HEAT TXLP/2R')">
      NEXANS N-HEAT® TXLP/2R
    </mat-card-title>
    <img routerLink="./txlp2r" routerLinkActive="active" (click)="setTitle('Теплые полы NEXANS TXLP2R')" class="image"
      src="../../../../assets/images/nexans/NEXANS-TXLP2R.png" alt="NEXANS TXLP2R">
    <mat-card-content>
      <p>
        Комплект двухжильного нагревательного кабеля для обогрева пола.
      </p>
    </mat-card-content>
  </mat-card>
</div>
<article>
  <p>Завод по производству нагревательных кабелей Nexans находится в городе Лангюс,
    расположенном в 20 километрах к югу от столицы Норвегии Осло. <br>Nexans является мировым лидером в области
    кабельной индустрии,
    присутствует более чем в 45 странах и ведет коммерческую деятельность по всему миру. </p>
  <p>В компании работает свыше 28 900 человек,
    а объем продаж продукции Nexans в 2015 году составил 8,
    3 миллиардов евро. Nexans использует оригинальные технологии и инновации для разработки самых лучших
    кабелей.<br>Эргономичность,
    надежность,
    высокая производительность плюс соотношение "цена/качество"являются отличительными чертами продукции компании
    Nexans. </p>
  <p>Все изделия разработаны и испытаны в соответствии с международными стандартами,
    такими как IEC и CENELEC,
    и полностью отвечают требованиям Европейской директивы по низковольтному оборудованию. Продукция сертифицирована в
    соответствии со стандартом по системам менеджмента качества ISO 9001 и стандартом по системам экологического
    менеджмента ISO 14001. </p>
</article>